/* stylelint-disable */

@mixin burger {
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  transition: transform 1s cubic-bezier(.66,-0.88,.83,.67);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition:
     transform 0.5s ease-in-out 500ms,
     top 0.5s ease-in-out 500ms;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.5s ease-in-out 500ms;
  }

  &--active {
    transform: rotate(180deg);
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition:
       transform 0.5s ease-in-out 500ms,
       top 0.5s ease-in-out 500ms;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition:
       transform 0.5s ease-in-out 500ms,
       top 0.5s ease-in-out 500ms;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.5s ease-in-out 500ms;
    }
  }
}
