<section class="about" id="section-about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__text" data-aos="fade-down"
                               data-aos-offset="300"
                               data-aos-duration="2000">
        <h2 class="title about__title">Биография</h2>
        <p class="text-about text-about--medium about__descr">
          Марк родился 14 мая 1984 года в городе Уайт-Плейнс (штат Нью-Йорк), что в нескольких километрах к северу от города Нью-Йорка. Отец — стоматолог Эдвард Цукерберг (по состоянию на 2012 год продолжал практику). Мать — психиатр Карен Цукерберг. Его бабушки и дедушки были из Германии, Австрии и Польши. Был вторым ребёнком и единственным мальчиком из 4 детей в семье. его сёстры — Рэнди (старшая), Донна и Ариэль.
        </p>
        <p class="text-about text-about--medium about__descr">
          Высшее образование Марк Цукерберг не завершил: в 2002 году он поступил в Гарвардский университет, где до 2004 года обучался на факультете психологии. Параллельно с этим Марк посещал курсы ИТ. Свою сферу интересов указывал как «C, C++, Java, Visual Basic, VBscript, JavaScript, PHP и ASP».
        </p>
      </div>
      <picture class="about__img-wrapper">
        <source srcset="img/about/about-img-1.avif" type="image/avif">
        <source srcset="img/about/about-img-1.webp" type="image/webp">
        <img class="about__img" loading="lazy" src="img/about/about-img-1.png" class="image" width="400" height="400" alt="Mark Zuckerberg photo">
      </picture>
    </div>
    <div class="about__wrapper about__wrapper--reverse">
      <div class="about__text about__text--right" data-aos="fade-down"
                                                       data-aos-offset="300"
                                                       data-aos-duration="2000">
        <h2 class="title about__title">Личная жизнь</h2>
        <p class="text-about text-about--medium about__descr">
          Владея 24 % акций компании Facebook, Inc, Марк Цукерберг стал самым молодым в истории миллиардером: в марте 2010 года журнал Forbes признал его одним из самых молодых миллиардеров в своём списке с состоянием $4 млрд долларов. В списке самых богатых американцев, опубликованном Forbes в сентябре 2010 года, Цукерберг занял 29-е место с состоянием в $7 млрд долларов. Официальная зарплата Марка Цукерберга составляет всего $1
        </p>
        <p class="text-about text-about--medium about__descr">
          На начало 2010 года его состояние оценивалось в $6,9 млрд, и за этот год оно увеличилось на 245 % — в рейтинге 400 самых богатых людей США, опубликованном журналом «Forbes» в 2011 году, Цукерберг занял 14-е место с состоянием в $17,5 млрд долларов США
        </p>
      </div>
      <picture class="about__img-wrapper">
        <source srcset="img/about/about-img-2.avif" type="image/avif">
        <source srcset="img/about/about-img-2.webp" type="image/webp">
        <img class="about__img" loading="lazy" src="img/about/about-img-2.png" width="400" height="400" alt="Mark Zuckerberg photo">
      </picture>
    </div>
  </div>
</section>
