<section class="directions" id="section-directions">
  <div class="container">
    <h2 class="title directions__title text-center" data-aos="fade-down" data-aos-duration="1500">Основных направления развития Facebook на ближайшие 10 лет</h2>
    <div class="directions__cards" data-aos="zoom-out-up" data-aos-duration="1500" data-aos-offset="400">
      <a class="directions__card" href="https://vc.ru/future/17074-zuck-2026" target="_blank">
        <svg class="directions__card-icon">
          <use xlink:href="img/sprite.svg#internet"></use>
        </svg>
        <h3 class="directions__card-title">Подключение к интернету жителей всего мира</h3>
        <div class="directions__card-descr">
          Миссию Facebook Цукерберг видит в том, чтобы сделать мир более открытым для коммуникаций.
        </div>
      </a>
      <a class="directions__card" href="https://vc.ru/future/17074-zuck-2026" target="_blank">
        <svg class="directions__card-icon">
          <use xlink:href="img/sprite.svg#iron-man"></use>
        </svg>
        <h3 class="directions__card-title">Искусственный интеллект и робот-дворецкий</h3>
        <div class="directions__card-descr">
          Марк Цукерберг объявил о своих планах лично создать систему искусственного интеллекта «наподобие Джарвиса из "Железного человека"».
        </div>
      </a>
      <a class="directions__card" href="https://vc.ru/future/17074-zuck-2026" target="_blank">
        <svg class="directions__card-icon">
          <use xlink:href="img/sprite.svg#3d"></use>
        </svg>
        <h3 class="directions__card-title">Виртуальная и дополненная реальность</h3>
        <div class="directions__card-descr">
          Наша миссия состоит в том, чтобы дать возможность любому человеку на Земле поделиться своим опытом и помочь другому понять, что происходит в мире.
        </div>
      </a>
    </div>
  </div>
</section>
