<footer class="footer" id="section-footer">
  <div class="container">
    <div class="footer__text">
      <div class="footer__text-item">
        <svg class="logo">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </div>
      <div class="footer__text-item">
        <div class="footer__text-authors">
          <h2 class="footer-title footer__authors-title">Authors</h2>
          <span class="text-about text-about--small footer__text-author">Maxim Marin - program part</span>
          <span class="text-about text-about--small footer__text-author">Dmirty Dubinin - technical information</span>
        </div>
      </div>
      <div class="footer__text-item footer__text-item--text-right">
        <div class="footer__contacts">
          <h2 class="footer-title footer__contacts-title">Contact us</h2>
          <div class="footer__contacts-content">
            <a class="footer__contacts-link" href="https://vk.com/maxxutko" target="_blank">
              <svg class="footer__contacts-icon">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
            <span class="text-about text-about--small footer__contacts-text">Maxim Marin</span>
          </div>
          <div class="footer__contacts-content">
            <a class="footer__contacts-link" href="https://vk.com/dimka_tomsk" target="_blank">
              <svg class="footer__contacts-icon">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
            <span class="text-about text-about--small footer__contacts-text">Dmirty Dubinin</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-about text-about--small footer__rights">
      &#64;Copyrignt 2021
    </div>
  </div>
</footer>
