<section class="interview" id="section-interview">
  <div class="container">
    <h2 class="title text-center interview__title">Интервью</h2>
    <div class="interview__content">
      <div class="video-block">
        <video class="video-block__content" src="video/about-mark-video.mp4" poster="video/video-poster.jpg" data-video="video"></video>
        <button class="btn-reset video-block__btn-play" data-video="btn"></button>
      </div>
      <div class="text-about interview__descr">
        Марк  Цукерберг рассказывает о встрече с Дмитрием Медведевым, помогает создать Ивану страничку на Facebook, а также отвечает на вопросы из социальных сетей. <a class="interview__link-full" href="https://www.youtube.com/watch?v=shacYpc4CZk" target="_blank">Смотреть полное видео на YouTube</a>
      </div>
    </div>
  </div>
</section>
